<table class="table table-bordered">
  <thead>
    <ng-container
      [ngTemplateOutlet]="tableHead"
      [ngTemplateOutletContext]="{ $implicit: 'Guest' }"
    ></ng-container>
  </thead>
  <tbody>
    @for (item of data; track $index) {
    <ng-container
      [ngTemplateOutlet]="tableBody"
      [ngTemplateOutletContext]="{ $implicit: item }"
    ></ng-container>
    }
  </tbody>
</table>

@if (pagination) {
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
  </ul>
</nav>
}
